.img_ctn {
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
  }
  
  .img_ctn {
    border-radius: 2vw;
    margin: 10px;
    overflow: hidden;
    width: 320px;
    height: 320px;
  }
  
  .img_ctn image {
    border-radius: 2vw;
  }
  
  .grid {
    display: grid;
    gap: 10px;
  }
  
  .name_ctn {
  }
  
  .p_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D0FF85;
    border-radius: 2vw;
    padding-bottom: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
  }
  
  .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* width: 100%; */
  }
  
  .name {
    background-color: #006400;
    color: #D0FF85;
    padding: 1vh;
    border-radius: 2vw;
    cursor: pointer;

  }
  .price_container {
    background-color: #006400;
    color: #D0FF85;
    padding: 1vh;
    margin-left: 10px;
    border-radius: 2vw;
    font-family: Archivo;
    font-size: 2vh;
  }
  
  .btn_container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    background-color: #006400;
    color: #D0FF85;
    border-radius: 2vw;
    font-family: Archivo;
    font-size: 2vh;
  }
  
  .btn_container {
    background-color: #006400;
    color: #D0FF85;
    border-radius: 2vw;
    /* width: 100%; */
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .name {
  }
  .price {
  }
  
  
  /*---------------START WITH MOBILE FIRST--------------------*/
   
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {}
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {}
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }