.main {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.ctn {
  margin: 2vw;
  background-color: #D0FF85;
  border-radius: 2vw;
}

.qst {
  font-size: 2rem;
  padding: 1vw;
  color: #006400;
}

.ans {
  padding: 1rem;
  font-size: 3.5vw;
  background-color: #006400;
  color: #D0FF85;
  margin: 1vw;
  border-radius: 2vw;
}




/*---------------START WITH MOBILE FIRST--------------------*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 60vw;
  }
}