.ctn {
    width: 95vw;
    background-color: #252525;
    color: antiquewhite;
    padding: 1vh;
    border-radius: 5px;
}

.ttl {
    font-size: 4vh;
    padding: 1vh;
}

.btn {
    border: none;
    padding: 1vh;
    font-family: "archivo";
    font-weight: 800;
    font-size: 2vh;
    border-radius: 3px;
}

/*---------------START WITH MOBILE FIRST--------------------*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .ctn {
        max-width: 80vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .ctn {
        max-width: 60vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ctn {
        max-width: 40vw;
    }
}