.ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 95vw;
    background-color: #006400;
    color: #D0FF85;
    padding: 1vh;
    border-radius: 15px;

}

.ttl {
    font-size: 4vh;
    padding: 1vh;
}

.btn {
    font-weight: 900;
    font-size: 2.5vh;
    border: none;
    margin: 1vh;
    padding: 2vh;
    border-radius: 50px;
    cursor: pointer;
    font-family: "archivo";
    background-color: #D0FF85;
    color: #006400;
}

/*---------------START WITH MOBILE FIRST--------------------*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .ctn {
        max-width: 80vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .ctn {
        max-width: 60vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ctn {
        max-width: 60vw;
    }
    .ttl {
        font-size: 8vh;
    }
}