.img_ctn {
  background-color: #D0FF85;
  margin: 10px;
  border-radius: 2vw;
  position: relative;

  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img_ctn {
  border-radius: 2vw;
  margin: 10px;
  width: 95%;
  aspect-ratio: 14 / 10;
}

.details {
  background-color: #D0FF85;
  margin: 10px;
  padding: 1vh;
  border-radius: 2vw;
}

.name_ctn {
  background-color: #006400;
  padding: 10px;
  border-radius: 2vw;
  color: #D0FF85;
}

.price_btn_ctn {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.price_ctn {
  background-color: #006400;
  color: #D0FF85;
  padding: 10px;
  border-radius: 2vw;
  margin-right: 10px;
  font-family: Archivo;
  font-size: 2vh;
}

.btn_ctn button {
  border: none;
  background-color: #006400;
  padding: 10px;
  color: #D0FF85;
  border-radius: 2vw;
  width: 100%;
  font-family: Archivo;
  font-size: 2vh;
  cursor: pointer;
}

.btn_ctn {
  background-color: #006400;
  width: 100%;
  border-radius: 2vw;
  cursor: pointer;
}

.dsc {
  background-color: #006400;
  color: #D0FF85;
  padding: 10px;
  border-radius: 2vw;
}

.how {
  background-color: #006400;
  color: #D0FF85;
  padding: 10px;
  border-radius: 2vw;
  margin-top: 10px;
}

.caution {
  background-color: #006400;
  color: #D0FF85;
  padding: 10px;
  border-radius: 2vw;
  margin-top: 10px;
}

.prohibited {
  background-color: #006400;
  color: #D0FF85;
  padding: 10px;
  border-radius: 2vw;
  margin-top: 10px;
}

/*---------------START WITH MOBILE FIRST--------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .details {
    width: 75vw;
  }
  .img_ctn {
    width: 95%;
    aspect-ratio: 14 / 10;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .details {
    width: 50vw;
  }
  .img_ctn {
    width: 60%;
    aspect-ratio: 14 / 10;
  }
}
