.title {
    font-size: 3vh;
}

.srv_ctn {
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: #D0FF85;
    border-radius: 2vh;
    margin: 10px;
    color: #006400;
}

.srv_p {
    display: grid;
    align-items: center;
    padding: 1vh;
    font-size: 2.3vh;
}

.title {
    padding: 0;
    margin: 0;
    transform: rotate(-90deg);
    padding-top: 80px;
    padding-bottom: 80px;
}

.srv_ttl {
    background-color: #006400;
    color: #D0FF85;
    border-radius: 2vh;
}

/*---------------START WITH MOBILE FIRST--------------------*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .srv_ctn {
        max-width: 600px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .srv_ctn {
        max-width: 700px;
    }
    .srv_p {
        font-size: 2.8vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .srv_ctn {
        max-width: 1100px;
    }
    .srv_p {
        font-size: 4vh;
    }
    .title {
        font-size: 5vh;
    }
    
}