.main {
    background-color: #D0FF85;
    border-radius: 2vw;
    padding: 10px;
    margin-bottom: 2vh;
}

.title {
    background-color: #006400;
    border-radius: 2vw;
    color: #D0FF85;
    padding: 5px;
    text-align: center;
}

.para {
    font-size: 3vh;
    margin: 5px;
    color: #006400;
}

/*---------------START WITH MOBILE FIRST--------------------*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main {
        max-width: 75vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main {
        max-width: 60vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main {
        max-width: 50vw;
    }

    .title h2 {
        font-size: 8vh;
    }
}