.main {
    background-color: #d8d8d8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.title {
    background-color: #252525;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.para {
    font-size: 3vh;
    margin: 5px;
}